<?xml version="1.0" encoding="utf-8"?>
<application project_name="Crystallography" version="1.00" runtime_version="1.11" sdk_version="1.11.01" default_locale="en-US">
  <name>
    <localized_item locale="en-US" value="Crystallon" />
  </name>
  <short_name>
    <localized_item locale="en-US" value="Crystallon" />
  </short_name>
  <parental_control lock_level="2" />
  <rating_list highest_age_limit="3" has_online_features="false">
    <online_features chat="false" personal_info="false" user_location="false" exchange_content="false" />
    <rating type="ESRB" value="3" age="3" code="ESRB_3173" />
    <rating type="PEGIEX" value="3" age="3" code="PEGI_1066" />
    <rating type="SELF" value="3" age="3" />
  </rating_list>
  <images icon_128x128="..\icons\VitaIcons_128.png" icon_256x256="..\icons\VitaIcons256.png" icon_512x512="..\icons\VitaIcons.png" splash_854x480="..\icons\splash.png" />
  <genre_list>
    <genre value="Games:Puzzle" />
  </genre_list>
  <developer>
    <name value="" />
  </developer>
  <website href="http://playcrystallon.com/" />
  <copyright author="Copyright Dozen Eyes 2013" text="..\icons\Copyright.txt" />
  <purchase>
    <product_list />
  </purchase>
  <runtime_config>
    <memory managed_heap_size="32768" resource_heap_size="65536" />
    <display max_screen_size="1280x800" />
    <camera max_capture_resolution="800x600" />
  </runtime_config>
  <feature_list>
    <feature value="GamePad" />
    <feature value="Touch" />
  </feature_list>
</application>